PROJECTS=demo
DB_PATH=data/indexnow.db
DEFAULT_ENDPOINT=indexnow
DEFAULT_UI_PORT=8787

PROJECT_DEMO_HOST=www.example.com
PROJECT_DEMO_KEY=90d0eecfb5144dc4bdbb41c28fd71a15
PROJECT_DEMO_KEY_LOCATION=https://www.example.com/90d0eecfb5144dc4bdbb41c28fd71a15.txt
PROJECT_DEMO_SITEMAP_URL=https://www.example.com/sitemap.xml
PROJECT_DEMO_DEFAULT_ENDPOINT=indexnow
